.container {
  width: 80%;
  padding: 55px 60px 95px 0;
  background-color: $thirdy-color;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%) translateY(-50%);

  .product-info {
    @include align-x;
    justify-content: space-between;
  }
}