header {
  color: $primary-color;
  @include align-x;
  justify-content: space-between;
  margin-bottom: 138px;

  .logo {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }

  nav {
    font-size: 21px;
    font-family: "Segoe UI", "Roboto", sans-serif;

    a {
      text-decoration: none;
      color: inherit;

      &:not(:last-child) {
        margin-right: 28px;
      }
    }
  }
}