.image-product {
  display: inline-block;
  height: 554px;
  background-color: $primary-color;
  border-radius: none;
  text-align: center;

  img {
    max-width: 100%;

    @include respond(desktop) {
      max-width: initial;
    }
  }

  @include respond(desktop) {
    margin-right: 167px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    text-align: initial;
  }
}